a:hover {
    color: #0056b3;
    text-decoration: none
}

.logoMobil img {
    width: 100px
}

.mobilMenu {
    display: none
}

#mobilbar-sticky-wrapper {
    display: none
}

.bg2 {
    position: fixed!important;
    width: 100%!important;
    z-index: 9999!important;
    top: 0!important;
    background: #7fa2e2a3 0 0 no-repeat padding-box
}

@font-face {
    src: url(../fonts/SolaimanLipi.ttf);
    font-family: sl
}

.is-sticky {
    position: relative;
    z-index: 999
}

#topHeader {
    background: #01468c 0 0 no-repeat padding-box;
    padding: 10px 0
}

.topInfo {
    width: 50%;
    float: left
}

.socialIconTop {
    width: 50%;
    float: left;
    text-align: right
}

.topInfo ul {
    padding-left: 0;
    margin-bottom: 0
}

.topInfo ul li {
    display: inline;
    font-family: "Open Sans",sans-serif;
    list-style-type: none;
    color: #fff;
    padding: 0 15px
}

.topInfo ul li img {
    margin-right: 10px
}

.socialIconTop ul {
    padding-left: 0;
    margin-bottom: 0
}

.socialIconTop ul li {
    display: inline;
    list-style-type: none;
    margin: 0 15px
}

.parentsZone a {
    color: #fff;
    padding: 12px 15px;
    background: #ff4f01 0 0 no-repeat padding-box;
    text-decoration: none
}

#headerSticky {
    position: absolute;
    z-index: 999;
    width: 100%
}

.schoolLogo {
    width: 50%;
    float: left
}

.mujibBar {
    width: 50%;
    float: left
}

.schoolLogo img {
    width: 385px
}

#logoPart {
    background: #ffffffe0 0 0 no-repeat padding-box;
    border-bottom: 2px solid #00000029;
    padding: 10px 0
}

#menuBar {
    background: #fbfdffa3 0 0 no-repeat padding-box;
    box-shadow: 0 2px 2px #00000029;
    padding: 0!important;
    margin-top: -2px!important
}

.nav {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    z-index: 999
}

.nav>li {
    position: relative;
    -webkit-box-flex: 1;
    height: 46px;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    line-height: 41px;
    letter-spacing: 1px;
    color: #000;
    cursor: pointer;
    padding: 1px 13px;
    font-family: "Open Sans",sans-serif;
    font-weight: 700
}

.nav>li:hover ul.dropdowndesk {
    visibility: visible;
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    opacity: 1;
    z-index: 0
}

.nav>li:hover ul.dropdowndesk>li {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards
}

.nav>li:first-child {
    border-top-left-radius: 6px
}

.nav>li:last-child {
    border-top-right-radius: 6px
}

.dropdowndesk {
    visibility: hidden;
    display: -webkit-box;
    display: flex;
    position: absolute;
    width: 336px;
    top: 100%;
    left: 0;
    right: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    margin: 0;
    padding: 5px 0 1px;
    list-style: none;
    color: #2d2d2d;
    background: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 1px 2px 5px -1px rgba(0,0,0,.15),0 4px 14px -1px rgba(0,0,0,.1);
    -webkit-transform: translate(0,-60px);
    transform: translate(0,-60px);
    -webkit-transition: opacity .2s,z-index 0s .2s,-webkit-transform .2s ease-out;
    transition: opacity .2s,z-index 0s .2s,-webkit-transform .2s ease-out;
    transition: transform .2s ease-out,opacity .2s,z-index 0s .2s;
    transition: transform .2s ease-out,opacity .2s,z-index 0s .2s,-webkit-transform .2s ease-out;
    opacity: 0;
    z-index: -1;
    text-align: left
}

.dropdowndesk>li {
    font-size: 12px;
    cursor: pointer;
    padding: 0 15px;
    border-bottom: 2px solid #dddddd85
}

.dropdowndesk li a {
    color: #000;
    font-size: 12px
}

.dropdowndesk>li:hover {
    background: #ff4f01;
    color: #fff;
    text-decoration: none
}

.chlidDropedown {
    position: relative
}

.academicResult {
    background-color: #fff;
    box-shadow: 0 0 6px 0 rgba(221,221,221,.521);
    position: absolute;
    top: 0;
    left: 336px;
    width: 250px;
    padding-left: 0;
    display: none;
    transition: all linear .5s
}

.academicResult li {
    list-style-type: none;
    box-shadow: 0 0 2px 0 #00000047
}

.academicResult li a {
    background-color: #fff;
    padding: 10px 20px
}

@-webkit-keyframes slideInLeft {
    from {
        -webkit-transform: translate(-25%,0);
        transform: translate(-25%,0);
        opacity: 0
    }

    to {
        -webkit-transform: translate(0,0);
        transform: translate(0,0);
        opacity: 1
    }
}

@keyframes slideInLeft {
    from {
        -webkit-transform: translate(-25%,0);
        transform: translate(-25%,0);
        opacity: 0
    }

    to {
        -webkit-transform: translate(0,0);
        transform: translate(0,0);
        opacity: 1
    }
}

.chlidDropedown:hover .academicResult {
    display: inline
}

.banner-slide {
    position: relative
}

.banner-slide img {
    width: 100%;
    height: 695px
}

.admission {
    background: #8dc63f;
    padding: 10px;
    clip-path: polygon(0 0,100% 0,75% 100%,0 100%);
    width: 15%
}

.admission p {
    font-size: 16px;
    color: #fff;
    margin-bottom: 0;
    font-family: "Open Sans",sans-serif;
    font-weight: 700
}

.bannerText h3 {
    font-size: 55px;
    font-family: "Open Sans",sans-serif;
    font-weight: 600;
    color: #fff
}

.bannerText h5 {
    font-size: 18px;
    color: #8dc63f;
    font-family: "Open Sans",sans-serif;
    font-weight: 700;
    margin-bottom: 40px
}

.bannerText a {
    font-size: 16px;
    font-family: "Open Sans",sans-serif;
    border: 1px solid #fff;
    padding: 10px 34px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none
}

.bannerText {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 159px;
    left: 0;
    padding: 126px 0 0 150px
}

.caption h6 {
    text-align: right;
    color: #fff;
    margin-right: 32px;
    font-size: 25px
}

.caption {
    background: #000000a1;
    width: 25%;
    float: right;
    margin-top: -31px;
    padding: 12px 0
}

#slider-2-slide-3-layer-9 {
    left: -995px;
    top: 69px
}

#slider2Apply {
    left: -995px;
    top: 69px
}

.imageOverflow {
    position: relative
}

.imageOverflow::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: transparent linear-gradient(180deg,#01468c14 0,#01468c 100%) 0 0 no-repeat padding-box
}

.latestNews {
    float: left;
    width: 14%;
    padding: 10px 0
}

.latestNews p {
    margin: 0!important;
    color: #1e75c5;
    font-size: 15px;
    font-weight: 700;
    font-family: "Open Sans",sans-serif
}

.scrollNews {
    float: left;
    width: 84%;
    height: 46px
}

.scrollNews a {
    font-size: 20px;
    font-family: sl;
    line-height: 47px;
    color: #000
}

#latestNews {
    background: #ebebeb 0 0 no-repeat padding-box;
    position: relative
}

#latestNews::before {
    position: absolute;
    content: "";
    width: 26%;
    height: 45px;
    top: 0;
    left: 0;
    background: #dedddd 0 0 no-repeat padding-box
}

#gbSection {
    padding-bottom: 25px
}

.gbImage {
    float: left;
    width: 43%
}

.gbImage img {
    width: 100%;
    height: 190px
}

.gbName {
    text-align: center
}

.gbName p {
    font-size: 13px;
    color: #005cac;
    font-family: sl;
    margin-top: 3px;
    margin-bottom: 0
}

.gbName h5 {
    font-size: 10px;
    color: #474747;
    font-family: sl;
    margin-top: 2px;
    margin-bottom: 0
}

.gbIText {
    float: left;
    width: 57%;
    padding-left: 16px
}

.gbspeecs p {
    font-size: 14px;
    color: #2d2d2d;
    line-height: 20px;
    margin-top: 25px;
    margin-bottom: 32px;
    font-family: sl
}

.gbIText a {
    float: right
}

.gbMain {
    padding: 15px;
    height: 266px;
    border: 1px solid #d2d2d2;
    margin-top: 20px
}

.gbIText a {
    font-size: 14px;
    color: #ff4f01;
    font-family: "Open Sans",sans-serif!important;
    font-weight: 400
}

.navContact {
    display: none
}

.modal {
    position: fixed;
    z-index: 9999;
    display: none;
    overflow: hidden;
    outline: 0
}

.bakash {
    width: 100%;
    float: left;
    margin-left: 100px
}

#bekash {
    padding: 95px 0 10px 0;
    position: relative;
    margin-top: 75px
}

.bekashpap img {
    position: absolute;
    top: -97px;
    left: 0;
    height: 352px
}

.bekashpopUp img {
    top: -166px!important
}

.bekashpay {
    padding-left: 12px;
    margin-top: -45px
}

.bekashpopUp {
    margin-bottom: 177px
}

.onlybekash {
    margin-top: -104px
}

.bekashpay p {
    font-size: 24px;
    color: #7c7c7c;
    font-family: "Open Sans",sans-serif!important;
    font-weight: 400;
    margin-top: 45px;
    margin-bottom: 30px
}

.bekashpay h4 {
    font-size: 18px;
    color: #d12053;
    font-family: "Open Sans",sans-serif!important;
    font-weight: 400;
    margin-bottom: 12px
}

.bekashpay img {
    margin-bottom: 21px
}

.bekashpay a {
    color: #d12053;
    text-decoration: underline
}

.portal h4 {
    color: #f05a28!important
}

.portal a {
    color: #1f8ddd!important
}

.portal img {
    margin-bottom: 20px
}

.portal a {
    float: right;
    color: #ff4f01!important;
    font-size: 11px;
    text-decoration: none!important
}

.portal a img {
    width: 7px;
    margin-top: 19px;
    margin-left: 4px
}

.portal img {
    width: 100%;
    height: 100%
}

#knowSection {
    background-image: url(../image/know/knowBg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px 0
}

.knowHeader {
    text-align: center
}

.knowHeader p {
    margin-bottom: 0;
    font-family: "Open Sans",sans-serif!important;
    font-weight: 400
}

.knowHeader h3 {
    font-family: "Open Sans",sans-serif!important;
    font-weight: 400;
    margin-bottom: 50px
}

.knowIteam {
    text-align: center;
    background: #fff 0 0 no-repeat padding-box;
    box-shadow: 0 3px 25px #0000001f;
    border-radius: 20px;
    padding: 30px 50px
}

.knowIcon {
    width: 106px;
    height: 106px;
    border-radius: 50%;
    background: #005cac11 0 0 no-repeat padding-box;
    margin: auto
}

.knowIcon img {
    width: 66px;
    height: 95px
}

.knowIteam h3 {
    font-size: 22px;
    color: #005cac;
    font-family: "Open Sans",sans-serif!important;
    font-weight: 400;
    margin-top: 15px
}

.knowIteam h4 {
    font-size: 22px;
    color: #8d8484;
    font-family: "Open Sans",sans-serif!important;
    font-weight: 600
}

.knowIteam a {
    color: #ff4f01!important;
    font-size: 16px;
    text-decoration: none!important
}

#branch {
    padding: 50px 0
}

.branchhead h2 {
    font-size: 18px;
    color: #a1a1a1;
    font-family: "Open Sans",sans-serif!important;
    font-weight: 400;
    margin-bottom: 5px
}

.branchhead h3 {
    color: #2d2d2d;
    font-family: "Open Sans",sans-serif!important;
    font-weight: 400;
    margin-bottom: 30px
}

.branch img {
    width: 100%;
    height: 375px
}

.branch {
    position: relative;
    margin-bottom: 20px
}

.branchtext {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 130px;
    background: #005cacc9 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    padding: 10px
}

.campusname {
    width: 80%
}

.campusname p {
    font-size: 18px;
    color: #fff;
    font-family: Poppins,sans-serif;
    font-weight: 400
}

.addresscampus p {
    color: #fff;
    margin-top: -7px;
    margin-bottom: 0
}

.addresscampus h6 {
    color: #fff
}

.college {
    position: absolute;
    width: 65px;
    height: 65px;
    line-height: 127px;
    border-radius: 50%;
    bottom: 94px;
    right: 11px;
    background: #ff5e4e 0 0 no-repeat padding-box
}

.college h4 {
    font-size: 12px;
    color: #fff;
    margin-top: 6px;
    margin-bottom: 0
}

.college h5 {
    font-size: 8px;
    color: #fff;
    line-height: 11px
}

.addressdetailsmubc {
    width: 100%
}

.addresscampus {
    width: 70%;
    float: left
}

.phone {
    width: 30%;
    float: left
}

.phone p {
    color: #fff;
    margin-top: 10px
}

.phone h6 {
    color: #fff
}

.collegebranch h4 {
    font-size: 13px!important
}

.collegebranch h5 {
    font-size: 20px!important;
    font-weight: 700
}

.branchHead h2 {
    font-size: 30px;
    font-family: Poppins,sans-serif;
    font-weight: 500;
    color: #522771;
    padding-bottom: 30px
}

#mainNotice {
    padding: 50px 0;
    background: #f3f3f3 0 0 no-repeat padding-box
}

.noticePart {
    background-image: url(../image/notice.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    padding: 100px 0
}

.noticeIteam {
    height: 370px;
    background: #fff 0 0 no-repeat padding-box;
    box-shadow: 0 0 6px #0000001f;
    border: 1px solid #d9d9d9b2;
    border-radius: 10px;
    margin-right: 50px;
    padding: 17px;
    overflow: hidden
}

.noticeIteam marquee {
    height: 370px
}

.noticeIteam ul li {
    display: inline-block;
    height: 57px;
    width: 100%;
    background: #fff 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #0000000f;
    border-top: 1px solid #70707056;
    margin-top: 5px;
    font-family: sl
}

.noticeDate {
    width: 20%;
    float: left;
    text-align: center;
    margin-top: -1px
}

.noticeDetails {
    width: 80%;
    float: left;
    padding-left: 5px
}

.noticeDate p {
    font-size: 15px;
    color: #8d8484;
    background: #ebebeb 0 0 no-repeat padding-box;
    margin: 0
}

.noticeDate h6 {
    font-size: 10px;
    color: #000;
    font-family: Poppins,sans-serif;
    font-weight: 400;
    margin: 0
}

.noticeIteam h3 {
    font-size: 22px;
    color: #1e75c5;
    font-family: Poppins,sans-serif;
    font-weight: 600
}

.newsEvent {
    margin-bottom: 24px!important
}

.newsEvent li {
    padding: 0 2px!important
}

.newsEvent li a {
    padding: 0 47px!important;
    border-radius: 0!important;
    border-top: 3px solid #005cac;
    line-height: 31px
}

.newsEvent .nav-link.active,.newsEvent .show>.nav-link {
    color: #fff;
    background-color: #005cac!important
}

.eventCar {
    border: 1px solid transparent
}

.eventCardBody {
    background: #fff
}

.eventCardBody p {
    font-size: 14px;
    font-family: Poppins,sans-serif;
    font-weight: 400;
    margin-bottom: 0
}

.eventCardBody h6 {
    font-size: 10px;
    color: #01468c;
    font-family: Poppins,sans-serif;
    font-weight: 400;
    margin-bottom: 0
}

.eventRightImage {
    width: 33%;
    float: left;
    margin-bottom: 15px
}

.eventRightText {
    width: 67%;
    float: left;
    padding: 0 10px
}

.eventRightText p {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 0;
    color: #000;
    font-family: Poppins,sans-serif;
    font-weight: 400
}

.eventRightText h6 {
    font-size: 12px;
    font-family: Poppins,sans-serif;
    font-weight: 400;
    color: #01468c;
    margin-top: 5px
}

#videoGallarySection {
    background-image: url(../image/videoGallary/VideoGallaryBg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px 0
}

.videoGallaryImage img {
    border: 5px solid #fff
}

.videoText {
    padding-left: 60px
}

.videoText h3 {
    font-size: 16px;
    color: #fff;
    font-family: Poppins,sans-serif;
    font-weight: 400;
    margin-top: 140px;
    margin-bottom: 0
}

.videoText h2 {
    font-size: 30px;
    color: #fff;
    font-family: Poppins,sans-serif;
    font-weight: 400;
    margin-bottom: 22px
}

.videoText a {
    padding: 10px 30px;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-top: 20px;
    color: #fff;
    font-family: Poppins,sans-serif;
    font-weight: 400
}

.gallary h2 {
    color: #5358b2;
    font-size: 30px;
    font-family: Poppins,sans-serif;
    font-weight: 400;
    padding-bottom: 40px
}

.gallaryimg-main {
    margin-bottom: 22px
}

.gallaryrightimage {
    position: relative;
    overflow: hidden
}

.gallaryrightimage:hover img {
    transform: scale(1.3);
    transition: all 1.5s
}

.gallaryimg-right img {
    width: 100%;
    height: 447px
}

.gallary-overlay {
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    padding: 90px 0;
    background: #00000090;
    opacity: 0;
    transition: all linear .5s
}

.gallaryimg-main:hover .gallary-overlay {
    opacity: 1;
    width: 100%
}

.gallaryrightimage img {
    width: 100%;
    height: 191px
}

.gallary-overlay h4 {
    font-size: 20px;
    font-family: Poppins,sans-serif;
    font-weight: 400;
    color: #fff;
    margin-top: -5px
}

.gallary-overlay p {
    font-size: 20px;
    font-family: Poppins,sans-serif;
    font-weight: 400;
    color: #fff
}

.bigGallary img {
    height: 403px
}

#apps {
    padding: 50px 0
}

.apps-download h3 {
    padding-top: 65px;
    color: #5358b2;
    font-family: Poppins,sans-serif;
    font-weight: 700;
    font-size: 30px;
    padding-bottom: 15px
}

.apps-download {
    padding: 0 0 0 84px
}

.apps-icon {
    background: #006e75;
    border: none;
    position: relative;
    margin-top: 56px
}

.apps-download p {
    line-height: 32px;
    font-family: Poppins,sans-serif;
    font-size: 16px
}

.apps-icon:hover {
    background: #006e75;
    border: none
}

.apps-download i {
    position: absolute;
    top: 12px;
    left: 38px;
    font-size: 42px
}

.apps-download span {
    font-size: 13px;
    margin-left: 13px
}

.apps-download span b {
    margin-left: 71px;
    font-size: 20px
}

.apps-download img {
    width: 175px!important;
    margin-left: -20px
}

.apps-mobil img {
    margin-left: 113px;
    margin-bottom: -52px
}

#admissinpart {
    margin-bottom: -60px;
    position: relative;
    z-index: 999
}

.ourScool {
    background: #ff4f01 0 0 no-repeat padding-box;
    border-radius: 5px;
    height: 205px;
    padding: 24px 0 0 59px
}

.ourScool p {
    text-align: center;
    color: #fff;
    font-size: 22px;
    margin-bottom: 46px;
    margin-left: -31px
}

.ourSchoolIteam {
    width: 25%;
    float: left
}

.schoolIcon {
    width: 24%;
    float: left
}

.schoolIconText {
    width: 60%;
    float: left
}

.schoolIconText h3 {
    color: #fff;
    font-family: Poppins,sans-serif;
    font-weight: 700;
    margin-bottom: -6px;
    margin-top: 2px;
    font-size: 26px
}

.schoolIconText p {
    text-align: left;
    font-family: Poppins,sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 13px!important;
    margin-left: 0!important
}

.schoolIcon img {
    width: 55px;
    height: 55px
}

#footer {
    padding: 50px 0 0 0;
    background: url('../image/Pic\ College4.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative
}

#footer::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: transparent linear-gradient(181deg,#1e75c5d1 0,#00346b 100%) 0 0 no-repeat padding-box
}

.upfooter {
    text-align: center;
    margin-top: 55px;
    margin-bottom: 40px
}

.upfooter ul li {
    display: inline-block
}

.footer-logo h5 {
    color: #8dc63f;
    font-size: 25px;
    padding: 10px 0
}

.footer-logo p {
    font-family: Poppins,sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    padding-bottom: 30px
}

.footer-logo h6 {
    color: #fff;
    font-size: 14px;
    padding-top: 10px
}

.odhyyon {
    color: #ff8000;
    font-weight: 700
}

.adde-soft {
    color: #38ada9;
    font-weight: 700
}

.quick-view h5 {
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    padding-bottom: 20px
}

.quick-view ul li {
    font-size: 14px;
    color: #fff;
    padding-bottom: 8px;
    list-style-type: disc
}

#upfooter {
    padding: 20px 0
}

.upfooter ul li {
    margin-right: 50px
}

.upfooter ul li img {
    color: #fff
}

.upfooter ul li span {
    font-family: Poppins,sans-serif;
    font-weight: 400;
    color: #fff;
    font-weight: 500;
    font-size: 20px
}

.footer-logo a {
    background: #8dc63f 0 0 no-repeat padding-box;
    color: #fff;
    padding: 6px 33px
}

.facebook h4 {
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    padding-bottom: 20px
}

.icon ul li {
    display: inline-block;
    color: #fff;
    margin-right: 15px
}

.copyright p {
    color: #fff;
    margin-top: 20px
}

.m-footer {
    border-bottom: 1px solid #fff;
    padding-bottom: 45px
}

.footerContact {
    display: none
}

.footer-logo {
    margin-top: -20px
}

#pageName {
    padding: 20px 0;
    background-image: url(../image/pageBg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 188px
}

.principleDetails p {
    font-size: 22px;
    margin-top: 25px;
    font-family: sl
}

.principleDetails h6 {
    font-size: 30px;
    margin-top: 25px;
    font-family: sl
}

.principleDetails h5 {
    font-size: 31px;
    font-family: sl
}

.principleDetails h4 {
    font-size: 29px;
    font-family: sl
}

.accordion {
    width: 100%;
    max-width: 360px;
    margin: 12px auto 20px;
    background: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding-left: 0;
    border: 1px solid #ddd;
    position: relative
}

.accordion::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    top: -8px;
    left: 17px;
    transform: rotate(-47deg);
    background: #fff;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd
}

.pageMenu p {
    font-size: 13px;
    color: #000;
    font-weight: 700
}

.accordion li {
    list-style-type: none
}

.accordion .link {
    cursor: pointer;
    display: block;
    padding: 10px 15px 10px 15px;
    color: #4d4d4d;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px solid #ccc;
    position: relative;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease
}

.accordion li:last-child .link {
    border-bottom: 0
}

.accordion li i {
    position: absolute;
    top: 16px;
    left: 12px;
    font-size: 18px;
    color: #595959;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease
}

.accordion li i.fa-chevron-down {
    right: 12px;
    left: auto;
    font-size: 10px
}

.accordion li.open .link {
    color: #b63b4d
}

.accordion li.open i {
    color: #b63b4d
}

.accordion li.open i.fa-chevron-down {
    -webkit-transform: rotate(269deg);
    -ms-transform: rotate(269deg);
    -o-transform: rotate(269deg);
    transform: rotate(269deg)
}

#pageBody {
    padding: 25px 0;
    background: #1e74c521 0 0 no-repeat padding-box
}

.pageName h3 {
    font-size: 40px;
    color: #000;
    font-family: "Open Sans",sans-serif;
    font-weight: 700
}

.submenu {
    display: none;
    background: #444359;
    font-size: 14px;
    padding-left: 0
}

.submenu li {
    border-bottom: 1px solid #4b4a5e
}

.submenu a {
    display: block;
    text-decoration: none;
    color: #d9d9d9;
    padding: 12px;
    padding-left: 42px;
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease
}

.submenu a:hover {
    background: #b63b4d;
    color: #fff
}

.historyInf h3 {
    font-size: 27px;
    color: #000;
    font-family: "Open Sans",sans-serif;
    font-weight: 700;
    margin-top: 32px
}

.historyInf p {
    font-size: 18px;
    color: #000;
    font-family: "Open Sans",sans-serif;
    margin-top: 15px
}

.historyInfImage {
    position: relative
}

.historyInfImage::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 44px;
    left: 29px;
    border: 2px solid #8dc63f;
    z-index: -1
}

.teacherImageMain {
    margin-bottom: 20px
}

.teacherImage {
    position: relative;
    z-index: 1;
    transition: all linear .8s;
    box-shadow: 0 0 4px 0 #00000070;
    overflow: hidden
}

.teacherImage img {
    width: 200px;
    height: 300px
}

.teacherSocialAccount {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.281) 0 0 no-repeat padding-box;
    z-index: 11;
    display: none;
    transition: all linear .8s
}

.teacherSocialAccount ul {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    padding-left: 0
}

.teacherImage:hover .teacherSocialAccount {
    display: inline;
    transition: all linear .8s
}

.teacherImage:hover img {
    transform: scale(1.1);
    transition: all linear .8s
}

.teacherImageMain:hover .teacherName h4 {
    color: #ff5e4e
}

.teacherName {
    text-align: center
}

.teacherName h4 {
    font-size: 17px;
    color: #0050ac;
    font-family: sl;
    margin-top: 11px
}

.teacherName p {
    font-size: 15px;
    color: #000;
    font-family: sl;
    margin-top: 0;
    font-weight: 700
}

.teacherSocialAccount ul li {
    display: inline;
    color: #fff;
    margin-right: 5px;
    cursor: pointer
}

.teacherName h5 {
    font-size: 15px;
    color: #000;
    font-family: sl;
    margin-top: -15px;
    font-weight: 700
}

.achivmentDetails h3 {
    font-size: 22px;
    color: #000;
    font-family: "Open Sans",sans-serif;
    font-weight: 700;
    margin-top: 20px
}

.achivmentDetails p {
    font-size: 14px;
    color: #8d8484;
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    margin-top: 14px;
    margin-bottom: 41px
}

.achivmentDetails a {
    padding: 8px 23px;
    color: #2d2d2d;
    border: 1px solid #ff4f01;
    border-radius: 5px;
    font-size: 14px
}

.achivmentDetails2 h3 {
    font-size: 15px;
    color: #000;
    font-family: "Open Sans",sans-serif;
    font-weight: 700;
    margin-top: 20px
}

.achivmentDetails2 p {
    font-size: 10px;
    color: #8d8484;
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    margin-top: 14px;
    margin-bottom: 15px
}

.achivmentDetails2 a {
    padding: 6px 19px;
    color: #2d2d2d;
    border: 1px solid #ff4f01;
    border-radius: 5px;
    font-size: 10px
}

.achivmentDetails2 {
    margin-bottom: 30px
}

.achivmentRelated {
    padding: 30px 50px;
    background: #ebebeb 0 0 no-repeat padding-box;
    margin-bottom: 50px
}

.achivmentRelated h3 {
    color: #2d2d2d;
    font-size: 25px
}

#infrastructure {
    padding: 50px 0
}

.InfrastructureDetail h3 {
    color: #2d2d2d;
    font-size: 22px;
    margin-top: 12px;
    font-family: "Open Sans",sans-serif;
    font-weight: 700
}

.InfrastructureDetail p {
    margin-top: -2px
}

.search {
    margin-top: 35px
}

.search input {
    width: 100%;
    height: 40px;
    background: #f6f8fa 0 0 no-repeat padding-box;
    border: 1px solid #a1a1a1;
    border-radius: 5px;
    position: relative
}

.search input::placeholder {
    padding-left: 20px;
    font-family: "Open Sans",sans-serif;
    font-size: 12px
}

.search button {
    padding: 8px 20px;
    background: #8dc63f 0 0 no-repeat padding-box;
    border-radius: 0 5px 5px 0;
    border: none;
    position: absolute;
    top: 34px;
    right: 15px
}

.eventTitle {
    width: 100%;
    height: 40px;
    background: #005cac 0 0 no-repeat padding-box;
    border-radius: 5px;
    margin-top: 32px
}

.eventTitle p {
    color: #fff;
    font-size: 20px;
    padding-left: 23px;
    line-height: 40px
}

.eventNewsImage {
    position: relative;
    overflow: hidden;
    margin-top: 25px
}

.eventNewsDetail h3 {
    font-size: 16px;
    font-family: "Open Sans",sans-serif;
    font-weight: 600;
    color: #fff;
    margin-bottom: 15px
}

.eventNewsDetail h5 {
    font-size: 12px;
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    line-height: 18px;
    margin-top: -5px;
    color: #fff
}

.eventNewsDetail {
    position: absolute;
    padding: 20px;
    background: #ff4f01c7 0 0 no-repeat padding-box;
    border-radius: 0 0 5px 5px;
    bottom: -81px;
    left: 0;
    transition: all linear .3s
}

.eventNewsImage:hover .eventNewsDetail {
    bottom: 0
}

.newsEventPart {
    width: 100%;
    height: 40px;
    background: #8dc63f 0 0 no-repeat padding-box;
    border-radius: 5px
}

.newsEventPart p {
    color: #fff;
    line-height: 40px;
    font-size: 20px;
    padding-left: 18px;
    font-family: "Open Sans",sans-serif
}

.newsEventDate {
    width: 100%;
    background: #fff 0 0 no-repeat padding-box;
    border: 1px solid #a1a1a1;
    border-radius: 5px;
    padding: 15px 0;
    margin-top: 20px
}

.dateOnly {
    width: 50px;
    height: 50px;
    background: #fff 0 0 no-repeat padding-box;
    border: 3px solid #005cac;
    border-radius: 3px;
    margin: auto
}

.newsEventDate h4 {
    font-size: 15px;
    color: #2d2d2d;
    font-weight: 700;
    margin-bottom: 14px
}

.newsEventDate h5 {
    font-size: 19px;
    color: #2d2d2d;
    margin-top: 3px
}

.newsEventDate h6 {
    font-size: 7px;
    color: #2d2d2d;
    margin-top: -6px
}

.newsEventDate p {
    font-size: 13px;
    color: #2d2d2d;
    padding: 0 30px;
    margin-top: 12px;
    margin-bottom: 0
}

.missionVissionTop h3 {
    font-size: 25px;
    color: #000;
    font-family: "Open Sans",sans-serif;
    font-weight: 700;
    margin-bottom: 18px;
    margin-top: 30px
}

.missionVissionTop p {
    font-size: 15px;
    color: #000;
    font-family: "Open Sans",sans-serif;
    font-weight: 400
}

.missionVissionPart {
    position: relative;
    width: 22%;
    float: left;
    margin: 0 15px
}

.MissionName {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #005cac79 0 0 no-repeat padding-box;
    line-height: 337px
}

.MissionName p {
    color: #fff;
    font-family: "Open Sans",sans-serif
}

.responsibility {
    background: #8ec63fa8 0 0 no-repeat padding-box
}

.honesty {
    background: #5776d3cc 0 0 no-repeat padding-box
}

.kindness {
    background: #00bbffda 0 0 no-repeat padding-box
}

.minnsionVissionDetails p {
    font-size: 16px;
    color: #000;
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    margin: 35px 0;
    padding: 0 20px
}

#noticeBanner {
    background: url(../image/governingBody/governBanner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 80px 0;
    position: relative
}

.schoolNotice {
    width: 28%;
    float: left
}

.schoolNotice img {
    width: 100%;
    height: 190px
}

.schoolNoticeDetails {
    width: 100%;
    float: left;
    padding: 15px 20px;
    background: #fff 0 0 no-repeat padding-box;
    border-radius: 5px;
    margin-left: -17px;
    margin-top: 20px
}

.syllabus {
    width: 100%;
    margin-top: 1px
}

#noticeBoadfInner {
    padding: 50px 0;
    background: #1e74c521 0 0 no-repeat padding-box;
    margin-top: 170px
}

.noticedetailsLeft {
    width: 50%;
    float: left
}

.noticeboardInner {
    margin-top: 50px
}

.noticedetailRight {
    width: 50%;
    float: left;
    margin-top: 1px;
    height: 34px
}

.noticedetailRight2 {
    width: 50%;
    float: left;
    margin-top: 15px;
    height: 34px
}

.noticedetailRight2 a {
    padding: 12px 31px;
    background-color: #ebebebcb;
    border-radius: 14px;
    color: #000;
    font-family: sl!important;
    font-size: 18px
}

.noticedetailRight img {
    height: 35px;
    margin-top: -3px
}

.noticedetailRight2 img {
    height: 35px;
    margin-top: -3px
}

.downloadSallybus {
    margin-top: 6px;
    width: 25%;
    float: left
}

.noticedetailsLeft h3 {
    font-size: 16px;
    color: #000;
    margin-bottom: 5px;
    font-weight: 700;
    font-family: sl;
    line-height: 45px
}

.yoytubeVideo h3 {
    font-family: Poppins,sans-serif
}

.noticedetailsLeft p {
    font-size: 12px;
    color: #8d8484;
    line-height: 25px
}

.noticedetailRight a {
    font-size: 14px;
    color: #000;
    float: right
}

.downloadSallybusText h3 {
    margin-top: 15px
}

.swarchNotice input {
    width: 100%;
    height: 45px;
    background: #f6f8fa 0 0 no-repeat padding-box;
    border-radius: 5px;
    border: none;
    margin-bottom: 35px;
    padding: 0 20px
}

.swarchNotice input::placeholder {
    padding-left: 20px
}

.importantNotice {
    background: #005cac 0 0 no-repeat padding-box;
    border-radius: 5px;
    margin-bottom: 35px
}

#class12Routineclass {
    background: #019aac
}

.noticeInnerDetls {
    padding: 30px
}

.noticeInnerDetls h4 {
    font-size: 18px;
    color: #fff;
    margin-bottom: 10px
}

.noticeInnerDetls p {
    font-size: 18px;
    color: #fff
}

.viewNotice {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #8dc63f 0 0 no-repeat padding-box;
    border-radius: 5px
}

.viewNotice a {
    padding: 10px 50px;
    color: #fff
}

#youTubeInner {
    padding: 50px 0;
    background: #1e74c51f 0 0 no-repeat padding-box
}

.classRoutineclass .noticeInnerDetls h4 {
    font-size: 35px
}

.noticeBoard {
    margin-bottom: 22px
}

.examshedule table {
    font-family: sl
}

.examshedule table thead {
    background-color: #005cac;
    color: #fff;
    white-space: nowrap
}

.exanLink a {
    padding: 7px 49px;
    background-color: #fff;
    border: 1px solid #ff4f01;
    color: #000;
    border-radius: 5px;
    text-align: center
}

.homeOnlineExam {
    background-image: url(../image/onlineExam.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px 85px
}

.homeOnlineExam p {
    font-size: 32px;
    color: #005cac;
    font-family: "Open Sans",sans-serif;
    font-weight: 700
}

.homeOnlineExam h5 {
    font-size: 32px;
    color: #005cac;
    font-family: "Open Sans",sans-serif;
    font-weight: 700;
    margin-top: -19px;
    margin-bottom: 19px
}

.homeOnlineExam a {
    padding: 10px 45px;
    background-color: #ff4f01;
    color: #fff;
    font-size: 14px;
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    border-radius: 6px
}

.examshedule h3 {
    font-size: 35px;
    color: #005cac;
    font-family: sl;
    font-weight: 400;
    text-align: center;
    margin-bottom: 15px
}

.classList {
    width: 47%;
    float: left;
    margin-right: 20px
}

.className {
    text-transform: uppercase;
    font-weight: 700
}

.backLink {
    margin-top: 25px
}

.backLink a {
    padding: 13px 25px;
    background-color: #ff4f01;
    color: #fff;
    border-radius: 17px;
    font-family: sl
}

table {
    width: 100%;
    border-collapse: collapse
}

.examversion {
    background-color: #6a6cd9;
    color: #fff
}

/*=========mainPopUp===============*/
.pobpuBody {
    width: 100vw;
    height: 100vh;
    background: #3f50ace0;
    position: fixed;
    z-index: 99999;
    transition: all linear .6s;
}

.mainPopUp {
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    top: 50%;
    transition: all linear .6s;
}

.mainPopUp img {
    width: 558px;
    height: 520px;
    border: 5px solid #fff;
    transition: all linear .6s;
}

.clossButton {
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    right: -9px;
    top: -12px;
}

.gbmembers {
    float: right;
    padding: 10px;
    background: #c00;
}

.appMobil {
    display: none;
}
